@page
@model BesporbemanWeb.Pages.Customer.Home.DetailsModel

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h4>@Model.Advertise.Title</h4>
                <hr />
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>Sender:</b> @Model.Advertise.SenderName</p>
                <p><b>Date:</b> @Model.Advertise.DateOfAdvertise</p>
                <p><b>Kind:</b> @Model.Advertise.Kind.Type</p>
                <p><b>Material:</b> @Model.Advertise.Material.Title</p>
                <p><b>Weight:</b> @Model.Advertise.Weight kg</p>
                <p><b>Width:</b> @(Model.Advertise.Width==0?" Unknown": @Model.Advertise.Width)</p>
                <p><b>Length:</b> @(Model.Advertise.Length==0?" Unknown": @Model.Advertise.Length)</p>
                <p><b>Height:</b> @(Model.Advertise.Height==0?" Unknown": @Model.Advertise.Height)</p>
                <p><b>Origin City:</b> @Model.Advertise.Origin.City.Name</p>
                <p><b>Destination City:</b> @Model.Advertise.Destination.City.Name</p>
            </div><!-- / project-info-box -->
        </div><!-- / column -->

        <div class="col-md-7">
            <img src="@Model.Advertise.Kind.Image" alt="project-image" class="rounded">
            <div class="project-info-box">
                <p><b>Validity Date:</b> @Model.Advertise.ValidityDate</p>
                <p><b>Email Address:</b> @Model.Advertise.SenderEmail</p>
                <p><b>Address:</b> @Model.Advertise.SenderAddress</p>
                <p><b>Phone Number:</b> @Model.Advertise.SenderPhoneNumber</p>
                <p><b>Status:</b> @Model.Advertise.Status</p>
                <hr />
                <p>
                    <b>Description:</b>
                    <br />
                    @(Model.Advertise.Description==null?" NO DETAILS": @Html.Raw(Model.Advertise.Description))
                </p>
            </div><!-- / project-info-box -->
        </div><!-- / column -->
    </div>
</div>
