@page
@model BesporbemanWeb.Pages.Customer.Home.IndexModel

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <img src="https://iaftm.tmgrup.com.tr/fbb6e0/633/358/0/0/940/531?u=https://iftm.tmgrup.com.tr/2022/01/20/transfer-donemi-ne-zaman-bitiyor-2022-ara-transfer-donemi-bitis-tarihi-1642682755896.jpg" alt="Transfer" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Fun</h3>
                        <p>Transfer is fun!</p>
                    </div>
                </div>

                <div class="item">
                    <img src="https://cdn.ntvspor.net/a8f4775994a64fff9ce1da5e49d24cfb.jpg?mode=crop&w=940&h=626" alt="Chicago" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Good</h3>
                        <p>Transfer is good!</p>
                    </div>
                </div>

                <div class="item">
                    <img src="https://exchangerateiq.com/Riq/images/posts/posts_image/1593762776moneyfactor.jpg" alt="New York" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Safe</h3>
                        <p>Transfer is safe!</p>
                    </div>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    @foreach(var advertise in Model.AdvertiseList)
    {
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row justify-content-center mb-3">
                <div class="col-md-12 col-xl-10">
                    <div class="card shadow-0 border rounded-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(4).webp"
                                             class="w-100" />
                                        <a href="#!">
                                            <div class="hover-overlay">
                                                <div class="mask"
                                                     style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <span class="text-primary">Count :</span>
                                    <h5 class="badge p-2 border w-10 bg-light">@advertise.Count</h5>
                                    <div class="d-flex flex-row">
                                        <div class="text-danger mb-1 me-2">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <span class="badge p-2 border w-100 bg-warning">Remaining deadline: @((advertise.ValidityDate-advertise.DateOfAdvertise).Days) Day(s)</span>
                                    </div>
                                    <div class="mt-1 mb-0 text-muted small text-center pt-2">
                                        <span class="badge p-2 border w-25 bg-danger">@advertise.Kind.Type</span>
                                        <span class="text-primary"> • </span>
                                        <span class="badge p-2 border w-25 bg-info">@advertise.Material.Title</span>
                                        <span class="text-primary"> • </span>
                                        <span class="badge p-2 border w-25 bg-success">@advertise.Weight Kg<br /></span>
                                    </div>
                                    
                                    <div class="mb-2 text-muted small pt-3">
                                        <span class="text-primary">From :</span>
                                        <span class="badge p-2 border w-25 bg-primary">@advertise.Country.Name</span>
                                        <span class="text-primary"> • </span>
                                        <span class="badge p-2 border w-25 bg-secondary">@advertise.City.Name<br /></span>
                                    </div>
                                    <div class="mb-2 text-muted small">
                                        <span class="text-primary">To :</span>
                                        <span class="badge p-2 border w-25 bg-primary">@advertise.Country.Name</span>
                                        <span class="text-primary"> • </span>
                                        <span class="badge p-2 border w-25 bg-secondary">@advertise.City.Name<br /></span>
                                    </div>
                                    <p class="text-truncate mb-4 mb-md-4 ">
                                       <span class="text-primary">Description :</span>
                                       <span class="badge p-2 border w-15 bg-light">@(@advertise.Description!=null?"Yes":"No")<br /></span>
                                       
                                    </p>
                                </div>
                                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                    <div class="d-flex flex-row align-items-center mb-1">
                                        <h4 class="mb-1 me-1 fw-bold">@advertise.Title</h4>
                                    </div>
                                    <hr/>
                                    
                                    <h6 class="text-success fw-bold">@advertise.DateOfAdvertise</h6>
                                    <br />
                                    <div class="d-flex flex-column mt-4">
                                        <button class="btn btn-outline-primary btn-danger" disabled type="button">Status: @advertise.Status</button>
                                    </div>
                                    <div class="d-flex flex-column mt-4">
                                        <button class="btn btn-primary btn-sm" type="button">Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    }
</body>








@*<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <!-- Header -->
    <div class="row container pb-3 backgroundWhite">
        @foreach (var advertise in Model.AdvertiseList )
        {
            <div class="header">
                <h2 class="text-success pl-1">@advertise.DateOfAdvertise</h2>
            </div>
            <!-- Photo Grid -->
            <!-- Row 1 -->
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="http://www.orseu-concours.com/451-615-thickbox/selor-test-de-raisonnement-abstrait-niveau-a.jpg" alt="Company logo">
                    <div class="card-body">
                        <h5 class="card-title">@advertise.Title</h5>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-success"><i class="fa fa-briefcase" style="font-size:20px;"></i>Count: @advertise.Count</li>
                            <li class="list-group-item list-group-item-success"><i class="fa fa-user" style="font-size:20px;"></i>Weight: @advertise.Weight</li>
                            <li class="list-group-item list-group-item-success"><i class="fa fa-map-marker" style="font-size:20px;"></i>Material: @advertise.Material.Title</li>
                            <li class="list-group-item list-group-item-success"><i class="fa fa-map-marker" style="font-size:20px;"></i>Material: @advertise.Kind.Type</li>
                            <li class="list-group-item list-group-item-success"><i class="fa fa-clock-o" style="font-size:20px;"></i>   @advertise.Country.Name</li>
                            <li class="list-group-item list-group-item-success"><i class="fa fa-inr" style="font-size:20px;"></i>   @advertise.City.Name</li>
                        </ul>

                    </div>
                </div>
            </div>
        }
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>*@





                        @*<div class="row container pb-3 backgroundWhite">
                            @foreach (var kind in Model.KindList)
                            {
                            <h2 class="text-success pl-1"><b>@kind.Type</b></h2>
                            <div class="col-12">
                            <div class="row my-3">
                            @foreach (var advertise in Model.AdvertiseList.Where(x => x.KindId == kind.Id))
                            {
                            <div class="col-lg-4 col-md-6 pb-4 filter">
                            <div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
                            <div class="card-body pb-1 row">
                            <div class="col-6 border-0">
                            <span class="badge p-2 mb-2 border w-100 bg-dark ">@advertise.DateOfAdvertise</span>
                            </div>
                            <hr/>
                            <div class="col-8 h5">@advertise.Title</div>
                            <div class="col-4 text-end"><span class="text-info h4">@advertise.Count</span></div>
                            </div>
                            <div class="card-body p-1 px-3 row mb-2">
                            <div class="col-6">
                            <span class="badge p-2 border w-100 text-dark bg-warning ">@advertise.Kind.Type</span>
                            </div>
                            <div class="col-6 border-0">
                            <span class="badge p-2 border w-100 bg-info ">@advertise.Material.Title</span>
                            </div>
                            <div class="col-6 border-0">
                            <span class="badge p-2 border w-100 bg-danger ">@advertise.Weight Kg</span>
                            </div>
                            <hr/>
                            <div class="col-12 pt-2" style="font-size:13px; text-align:justify">
                            <p>@Html.Raw(advertise.Description)</p>
                            </div>
                            <div class="col-12 p-1">
                            <a class="btn btn-dark form-control btn-sm p-2" style="height:40px">View Details</a>
                            </div>
                            </div>
                            </div>
                            </div>
                            }
                            </div>
                            </div>
                            }
                            </div>*@
